* {
    box-sizing: border-box;
}

img,
canvas,
video {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif;

    /* font-family: 'Open Sans', sans-serif; */
}

.container {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}

/* shadow filter */
.filter {
    width: 100%;
    /* height: calc(100vh - 90px); */
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
}

/* navbar section */

.header-bar {
    background-color: rgba(0, 0, 6, 0.5);
    border: 2px solid #FFFFFF33;

}

.header-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0 28px 0;
    position: relative;
    z-index: 2;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>img {
    height: 35px;
    width: 31px;
}

.logo>a {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    color: #fff;

}

.logo span {
    color: #F00;
    font-weight: 900;
    margin-right: 5px;
}

.page-nav-list {
    display: flex;
}

.page-nav-list a {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 33px 40px;
}

.page-nav-list a:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

/* banner section */
.banner {
    background-image: url(../images/Image.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: calc(100vh - 90px);
}



.banner>.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 917px;
    height: calc(100% - 90px);
    min-height: 299px;
    position: relative;
    z-index: 2;
}

.banner-title {
    font-size: 90px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 123px;
}

.banner-text {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    line-height: 22px;
    margin-bottom: 50px;
}

.banner-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    border-radius: 40px;
    padding: 23px 54px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    border: none
}

.banner-btn-red {
    background-color: #f00;
    color: #fff;
    margin-right: 25px;

}

.banner-btn-white {
    background-color: #fff;
    color: #f00;
}

.arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #F00;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    transform: translateY(40%);
}

.arrow-down>img {
    width: 21px;
    height: 21px;
}

/* blog section */

.blog .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.blog .medium-header-container {
    margin: 90px 0 35px 0;

}

.medium-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.medium-header>span {
    font-size: 35px;
    line-height: 47px;
    color: #000;
    font-weight: 700;
    display: inline-block;
    padding: 0 10px;
}

.medium-header::before,
.medium-header::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background: #f00;


}

.article-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article:nth-of-type(2) {
    margin: 0 16px;
}

.article img {
    width: 100%;
    height: 100%;

}

.article h3 {
    font-size: 19px;
    line-height: 26px;
    font-weight: 400;
    color: #6a6a6a;
    padding-top: 25px;
}

.article p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #6a6a6a;
    padding: 15px 0;
    max-width: 260px;
}

.blog-btn {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #fff;
    background-color: #F00;
    padding: 11px 30px;
    border-radius: 40px;
    text-decoration: none;
}


/* service section */

.service {
    background-color: #28272c;
}

.service>.container {
    padding: 60px 0 100px 0;
}

.service-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service .medium-header-container {
    padding-bottom: 75px;
}

.service .medium-header>span {
    color: #fff;
}

.service-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service article:nth-last-child(n+2) {
    margin-right: 45px;
}

.service img {
    height: 170px;
    width: 170px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.service-article h3 {
    font-size: 19px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.service-article p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #b2b2b2;
    text-align: center;
    padding: 15px 0;
}

.service-btn {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    background-color: #ff0000;
    padding: 11px 29px;
    border-radius: 40px;
}


/* contact section */

.contact .container {
    margin: 0 auto;
    width: 917px;
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: inherit;
    padding-top: 35px;
}

.contact-container img {
    width: 50%;
    margin-right: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

input[type="text"],
input[type="email"],
textarea {
    width: 444px;
    height: 38px;
    /* box-sizing: border-box;  */
    border: 1px solid #d1d1d1;
    border-radius: 8px;
}

input[type="email"] {
    margin: 20px 0;
}

textarea {
    font-family: 'Nunito Sans', sans-serif;
    height: 140px;
    margin-bottom: 20px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #b2b2b2;
}

input,
textarea {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #b2b2b2;
    padding: 8px 12px;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #f00;
    box-shadow: 0 1px 6px #FF00004D;
}

.agreement {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    display: flex;
}

.agreement p {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    line-height: 14px;
    color: #B2B2B2;
    margin-left: 14px;
}

.agreement input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* jak zrobić obrazek checked ? */
.agreement input:checked+span {
    /* border: 5px solid #f00; */
    background-image: url(../images/Icon\ Check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.agreement span {
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.agreement>span>img {
    margin: 0 auto;
    /* filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(72deg) brightness(110%) contrast(101%) */
    /* filter: invert(19%) sepia(99%) saturate(5790%) hue-rotate(357deg) brightness(103%) contrast(117%); */
}

.send-btn {
    font-size: 14px;
    background-image: 19px;
    font-weight: 700;
    color: #f00;
    padding: 11px 52px;
    border: 1px solid #f00;
    border-radius: 40px;
    background-color: #fff;
    align-self: flex-end;
    margin-top: 20px;
    text-decoration: none;
}

.send-btn:active {
    box-shadow: 0 3px 6px #FF00004D;
}

/* footer section */
.footer {
    background-color: #28272C;
}

.footer .container {
    padding-bottom: 39px;
}

.logo-container {
    padding: 40px 0 22px 0;
}

.footer-logo {
    width: 16px;
    height: 19px;
}

.footer-logo>a {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 8px;
    font-size: 25px;
    line-height: 34px;
}

.footer-logo span {
    margin-right: 8px;
}

.footer-nav-container {
    display: flex;
    justify-content: space-between;
    height: 92px;
}

.foter-nav {
    display: flex;

}
.footer-nav-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 92px;
}
.footer-nav-list:first-of-type{
    margin-right: 100px;
}

.footer-nav-list li{
    padding-bottom: 5px;

}
.footer-nav-list a {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.copyright{
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}

.copyright p{
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: #D1D1D1;
}


/* todo list: */
/* style first word in footer nav to red color*/
/* shade filter on first section background */
/* anchor tags to header navbar */
/* add overflow hidden to article text to prevent container growing */